.messenger{
    height: 100vh;
    display: flex;
    /* background-color: black; */
}

.chat-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.chat-menu-wrapper{
    flex: 3.5;
    background-color: #043b17;
}
.chat-box-wrapper{
    background-color: darkorange;
    height: 50vh;
}
.chat-box{
    flex: 6.5;
    background-color: red
}
.chat-online{
    flex: 3.5;
}
.card{
    margin: 10px;
    /* display: none; */
}


.LogoutButton{
    display: none;
    /* align-items: center; */
}
