/* *{
    -ms-overflow-style: none;
} */
::-webkit-scrollbar {
    display: none;
}
.friends-list{
    display: flex;
    flex-direction: column;
    
    background-color: crimson;
    width: 100%;
    /* height: 100%; */
    overflow: scroll;
}
.title{
    text-align: center;
}
.friends-list-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: fill-available; */
    /* width: fill-available; */
    /* overflow: scroll; */
}