/* @import '../node_modules/stream-chat-react/dist/css/v2/index.css'; */

body{
  background-color: #ff00dd;
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
.loginContainer{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0D2818;
  flex-direction: column; */
}
.loginWrapper{
  /* display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  
  justify-content: center;
  align-items: center; */
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.loginHeader{
  /* font-family: Gotham;
  font-size: 30px; */
}

